Analisis Sentimen Harian.json
{
  "name": "Analisis Sentimen Harian",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ec090fe8-a239-4613-b9e0-d5223311c39b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "EvihSL9IQBZQD8zf",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        304
      ],
      "id": "e5aafac2-85f6-4ec1-9239-a79864b11f89",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "EvihSL9IQBZQD8zf",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the sentiment of the following Data. Respond ONLY with ONE word: 'Positive', 'Negative', or 'Neutral'.\n\nData:\n{{ $json.sentiment }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -176,
        112
      ],
      "id": "c95de904-569e-4ff3-ac0f-3cde60c4af41",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Bullish: {{ $json.bullish }}\n- Bearish: {{ $json.bearish }}\n- Neutral: {{ $json.neutral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        416
      ],
      "id": "8676d524-3ec1-4f3d-b649-a4c8a921a806",
      "name": "Membuat Kesimpulan"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        112
      ],
      "id": "177496fb-fbb2-40e0-bf74-84b2f1a5f2c6",
      "name": "Schedule Trigger 15 Minutes"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "coin": "={{ $('Code in JavaScript').item.json.coin }}",
            "total": "={{ $('Code in JavaScript').item.json.total }}",
            "bullish": "={{ $('Code in JavaScript').item.json.bullish }}",
            "bearish": "={{ $('Code in JavaScript').item.json.bearish }}",
            "neutral": "={{ $('Code in JavaScript').item.json.neutral }}",
            "sentiment": "={{ $('Code in JavaScript').item.json.sentiment }}",
            "scraped_at": "={{ $('Code in JavaScript').item.json.scraped_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "coin",
              "displayName": "coin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bullish",
              "displayName": "bullish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bearish",
              "displayName": "bearish",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "neutral",
              "displayName": "neutral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        112
      ],
      "id": "7e108bfb-664e-44b7-91e5-7aeddc4ef51e",
      "name": "Penyimpanan Hasil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ePcZygUEiMBycAlQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Data Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blr9LLKOxniodo7ysm5_8wc_aWnJx28WRSmZa5XeFgw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        416
      ],
      "id": "410b5376-5985-466f-8952-9dccf7bc39a1",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ePcZygUEiMBycAlQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const bullish = item.json.bullish;\n  const bearish = item.json.bearish;\n  const neutral = item.json.neutral;\n\n  let sentiment = '';\n\n  if (bullish > bearish && bullish > neutral) {\n    sentiment = 'Positive';\n  } else if (bearish > bullish && bearish > neutral) {\n    sentiment = 'Negative';\n  } else {\n    sentiment = 'Neutral';\n  }\n\n  return {\n    json: {\n      ...item.json,\n      sentiment: sentiment\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        416
      ],
      "id": "5ba47e5b-727c-497f-8f68-67f0c5fc5a6c",
      "name": "Analisis Data"
    },
    {
      "parameters": {
        "chatId": "1564368734",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        416
      ],
      "id": "5fc3fdfe-2684-4df8-9f8f-b113c043413e",
      "name": "Kirim Laporan",
      "webhookId": "162cf1cd-3eb5-461a-9b1d-cdf9de37defe",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ac62055-2292-43cd-8d9b-a7bf40a8018e",
              "name": "BTC",
              "value": "={\n    \"total\": 98,\n    \"bullish\": 40,\n    \"bearish\": 32,\n    \"neutral\": 26,\n    \"avg_compound\": 0.032,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T20:20:50.120146\"\n}",
              "type": "object"
            },
            {
              "id": "0bd41140-0d35-4970-b382-e90b3535dda2",
              "name": "ETH",
              "value": "={\n    \"total\": 61,\n    \"bullish\": 24,\n    \"bearish\": 26,\n    \"neutral\": 11,\n    \"avg_compound\": -0.0307,\n    \"signal\": \"NEUTRAL\",\n    \"scraped_at\": \"2026-04-22T20:20:50.120637\"\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        112
      ],
      "id": "d3187c7a-c6ec-4323-b1aa-23fe7b61b6c5",
      "name": "Data Scraping"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      coin: \"BTC\",\n      total: $input.first().json.BTC.total,\n      bullish: $input.first().json.BTC.bullish,\n      bearish: $input.first().json.BTC.bearish,\n      neutral: $input.first().json.BTC.neutral,\n      sentiment: $input.first().json.BTC.signal,\n      scraped_at: $input.first().json.BTC.scraped_at\n    }\n  },\n  {\n    json: {\n      coin: \"ETH\",\n      total: $input.first().json.ETH.total,\n      bullish: $input.first().json.ETH.bullish,\n      bearish: $input.first().json.ETH.bearish,\n      neutral: $input.first().json.ETH.neutral,\n      sentiment: $input.first().json.ETH.signal,\n      scraped_at: $input.first().json.ETH.scraped_at\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        112
      ],
      "id": "b656be88-66ad-4626-9f07-de2bd9bf4b32",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -784,
        416
      ],
      "id": "0c3a8aff-35d9-4ef1-9fd8-971331e59cf7",
      "name": "Schedule Trigger 9pm"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Penyimpanan Hasil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger 15 Minutes": {
      "main": [
        [
          {
            "node": "Data Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "main": [
        [
          {
            "node": "Analisis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Scraping": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger 9pm": {
      "main": [
        [
          {
            "node": "Baca Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1486ab85-dff8-4ae0-983a-5269bfb3c485",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "18Ov8CEy9gznnNus",
  "tags": []
}