FitsAI (Telegram).json
{
  "name": "FitsAI (Telegram)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6aa21c06-71de-4ba9-a3e6-9fdeadb94b81",
      "name": "Telegram Trigger",
      "webhookId": "d96bc1a7-7a53-419c-a160-3e59f712ca4c",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message.text}}",
        "options": {
          "systemMessage": "Kamu adalah AI Fashion Assistant untuk sebuah brand outfit.\n\nTugas kamu:\n1. Menjawab pertanyaan tentang produk\n2. Memberikan informasi harga\n3. Memberikan rekomendasi outfit\n4. Membantu user memilih produk sesuai kebutuhan/style\n\nATURAN:\n- Gunakan bahasa Indonesia santai tapi sopan\n- Jawaban harus singkat, jelas, dan membantu\n- Jika user tanya harga → jawab langsung\n- Jika user minta rekomendasi → beri 2–3 pilihan\n- Jangan mengarang produk di luar data\n- Jika tidak tahu → jawab dengan sopan\n\nFORMAT JAWABAN:\nGunakan bullet point jika memberikan rekomendasi"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d71915fd-ebd2-4f80-8ff9-078f2c04b368",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "6f8cd97b-fc36-428a-bd11-87da0d313fbb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "acgwo3eL0dOyZWD4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.message.chat.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        192
      ],
      "id": "c4a1ccbd-8ed6-4c05-9a84-5830360349f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qXBe0jZqk90-3Xwz7y1mNfi9WdGbLb4vwUK5Xqo3g1A",
          "mode": "list",
          "cachedResultName": "Daftar Harga Outfit",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qXBe0jZqk90-3Xwz7y1mNfi9WdGbLb4vwUK5Xqo3g1A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qXBe0jZqk90-3Xwz7y1mNfi9WdGbLb4vwUK5Xqo3g1A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        192
      ],
      "id": "db5d8263-c6ef-4f54-b79c-127dd5d67f38",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ePcZygUEiMBycAlQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "7eadd2a7-1ac8-4674-941b-b197b3b7b447",
      "name": "Send a text message",
      "webhookId": "e053b5ea-e392-4034-b87f-c7c7a6a23cf8",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "adab94b4-f4da-4203-8efa-3cf229e70ec2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "xsQr0wN7cOhaqwsY",
  "tags": []
}