Generate Video (1).json
{
  "name": "Generate Video",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json['API Keys']}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"prompt\": \"{{$json.Prompt}}\",\n    \"duration\": 6\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        112
      ],
      "id": "2d4342a5-0a4b-4fc0-894f-74ab3ba1ad4f",
      "name": "Mengirim Video Generation Request ke KIE AI API"
    },
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1sc1H4YEiO79_ASj5fnh-uiejGAuXOJJf",
          "mode": "list",
          "cachedResultName": "DUMMY",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sc1H4YEiO79_ASj5fnh-uiejGAuXOJJf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        96
      ],
      "id": "33ff7f50-66f8-4053-a6e7-0343a1d19499",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JbLpRNgmCVwawYOi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoURL: result.resultUrls?.[0] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        96
      ],
      "id": "2a52d45d-d42c-4ba4-bb70-cc80db9e992b",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -336,
        112
      ],
      "id": "c6efcf41-5750-4205-bc76-65beccf1ce36",
      "name": "Menunggu Proses Generate Video",
      "webhookId": "9e7542d0-efb7-45c8-8ae0-2f3bcbc6df8f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"Mengirim Video Generation Request ke KIE AI API\"].json[\"data\"][\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"Submit Text to Video\"].json[\"API Keys\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        112
      ],
      "id": "82414f56-3481-48c7-908d-2f69472e0cfe",
      "name": "Mendapatkan Status Generate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "794a6c0e-fd37-4e3e-b0cd-7ed46659456c",
              "leftValue": "={{$json.data.state}}",
              "rightValue": "=success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        112
      ],
      "id": "806c57fd-bb18-44b4-a2bb-65d3bf74284f",
      "name": "Check Jika Generate Sudah Selesai"
    },
    {
      "parameters": {
        "url": "={{ $json.videoURL }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        96
      ],
      "id": "3203c603-7390-49e9-9ad9-9399e797c9a5",
      "name": "Download Video"
    },
    {
      "parameters": {
        "formTitle": "Generate Video Konten Otomatis",
        "formDescription": "Isi informasi dibawah ini untuk memulai proses generate gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            },
            {
              "fieldLabel": "Img_URL"
            },
            {
              "fieldLabel": "Task Type"
            },
            {
              "fieldLabel": "API Keys"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -752,
        112
      ],
      "id": "a9562c6b-749b-4d1b-be91-e1ae5980a4bf",
      "name": "Submit Text to Video",
      "webhookId": "fc9ad583-d7a9-40cf-8426-0b96f6a220b4"
    }
  ],
  "pinData": {},
  "connections": {
    "Mengirim Video Generation Request ke KIE AI API": {
      "main": [
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menunggu Proses Generate Video": {
      "main": [
        [
          {
            "node": "Mendapatkan Status Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mendapatkan Status Generate": {
      "main": [
        [
          {
            "node": "Check Jika Generate Sudah Selesai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Jika Generate Sudah Selesai": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menunggu Proses Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Text to Video": {
      "main": [
        [
          {
            "node": "Mengirim Video Generation Request ke KIE AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7916e236-dd1b-4a36-a8a5-fa3f13c4e2c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "AOBChM1C3LjhdKUi",
  "tags": []
}