Generate Image.json
{
  "name": "Generate Image",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Konten Otomatis",
        "formDescription": "Isi informasi dibawah ini untuk memulai proses generate gambar",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt"
            },
            {
              "fieldLabel": "Img URL"
            },
            {
              "fieldLabel": "Task Type"
            },
            {
              "fieldLabel": "API Keys"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1040,
        16
      ],
      "id": "6d6454cd-9259-4d79-97b0-351f380269ec",
      "name": "On form submission",
      "webhookId": "b0ae2a00-0b45-4d66-8c97-7f3133afdb37"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        16
      ],
      "id": "d2094429-2ba2-4ecb-b495-de18b12d676b",
      "name": "Wait",
      "webhookId": "9e7542d0-efb7-45c8-8ae0-2f3bcbc6df8f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$node[\"Mengirim Image Generation Request ke KIE AI API\"].json[\"data\"][\"taskId\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"API Keys\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        16
      ],
      "id": "2d4b571b-7034-49b0-a213-90d40c066f0b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "794a6c0e-fd37-4e3e-b0cd-7ed46659456c",
              "leftValue": "={{$json.data.state}}",
              "rightValue": "=success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        16
      ],
      "id": "38eee5fa-c586-47f3-925e-557ed1102138",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json['API Keys']}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{ $json.Prompt.replace(/\\\"/g, '\\\\\\\"') }}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -832,
        16
      ],
      "id": "549642ba-92bd-4ff6-8545-299988dff4e9",
      "name": "Mengirim Image Generation Request ke KIE AI API"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data?.resultJson || \"{}\");\n\nreturn [{\n  img1: result.resultUrls?.[0] || null,\n  img2: result.resultUrls?.[1] || null,\n  img3: result.resultUrls?.[2] || null,\n  img4: result.resultUrls?.[3] || null\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "5173fa78-2145-437d-8408-519463b61650",
      "name": "Format Result"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f5099ec8-310f-44cb-bfcf-298f965e51ea",
      "name": "Loop Image"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "4b2b05ea-1fd5-43a2-9337-be1569971ad0",
      "name": "Download Gambar"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1564368734",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "8bc58ad2-e7ea-4633-8821-4b0b816690cd",
      "name": "Send a photo message",
      "webhookId": "889647de-2bb4-4a06-b57e-162f967ca6d6",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Mengirim Image Generation Request ke KIE AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengirim Image Generation Request ke KIE AI API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Result": {
      "main": [
        [
          {
            "node": "Loop Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Image": {
      "main": [
        [
          {
            "node": "Download Gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Gambar": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ae68f1be-4506-45c2-a34f-0a24b0fa4e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "U3zZoAiB9G0P5BQw",
  "tags": []
}