Pencatat Pengeluaran dari Email.json
{
  "name": "Pencatat Pengeluaran dari Email",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -416,
        192
      ],
      "id": "bc366dc4-3059-4088-9827-8470e6effdcc",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "LGP7pK8fWKKqJES2",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "zlfkararfnn@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5ca1dd8e-bcb6-4511-b15f-8a07e016bd33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Shopee"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3821a0b3-7e66-4ce4-ab31-f2bb22b2ec8a",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "zmlrfn@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gopay"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a4ae45e-8b59-4a4a-ad6e-def7aafab6a3",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "izmi23094ti@student.nurulfikri.ac.id",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        176
      ],
      "id": "45b157a9-1207-40b8-80e7-a5bfb2ab170f",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a14e5f53-80a5-4890-b41c-e8d09fd29230",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4d04ee22-2da3-4bed-bf92-d4c15d9dbc1b",
              "name": "Jumlah",
              "value": "={{ $json.textPlain?.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || '' }}",
              "type": "string"
            },
            {
              "id": "a1e7f247-6565-4fcc-a513-a795f554fafd",
              "name": "Produk",
              "value": "=Tokopedia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        384
      ],
      "id": "1b633f70-d330-4477-9676-2e9477ff469a",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        176
      ],
      "id": "374923e9-9cc5-4cbb-886b-6dd5107b3ac9",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SOv8tz3LO7zu9CqcL8UW6bAqPaQ5CJ4YKrlL1B_kYno",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan dari Email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOv8tz3LO7zu9CqcL8UW6bAqPaQ5CJ4YKrlL1B_kYno/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOv8tz3LO7zu9CqcL8UW6bAqPaQ5CJ4YKrlL1B_kYno/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Produk }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        192
      ],
      "id": "a15fef88-9c88-47cb-a8d5-7d88e0556793",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ePcZygUEiMBycAlQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4933e917-e712-4ee6-aac7-8f34d1d19d22",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "53e0afcd-fdcc-413b-9d6f-596ec707fed1",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') }}",
              "type": "string"
            },
            {
              "id": "3c00810d-eeb4-4045-8945-4036df00e7b4",
              "name": "Produk",
              "value": "Gopay",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "8e41713e-b433-48f8-867c-b7e63a4e9902",
      "name": "Gopay"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af9530c9-4d4e-47a6-9e15-6f7aa9614bca",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "4f2802e8-fd30-4181-9db3-301e51fc9bd9",
              "name": "Jumlah",
              "value": "=={{ $json.textPlain?.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || '' }}",
              "type": "string"
            },
            {
              "id": "37c18f15-6418-4a67-ad9c-942a6e1bfaa9",
              "name": "Produk",
              "value": "Shopee",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "2eab602b-c9b2-4ffe-bdfe-9352f89a583a",
      "name": "Shopee"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Shopee",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gopay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gopay": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Shopee": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "961221ae-6265-4160-816b-898c54055200",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "NXsoo03wMNPjpQ00",
  "tags": []
}