SOP Otomation Bot.json
{
  "name": "SOP Otomation Bot",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86a52574-eed8-4cbe-8dae-f6d165fdcc88",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8b9388a4-f449-4b06-a3ff-49c241ee90a0",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        112
      ],
      "id": "cc3fb3a9-84a2-4281-b592-106db69aff93",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cba994d4-1661-4a4f-a437-67bfef9ffe9f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        96
      ],
      "id": "2bd70551-79f5-4926-98a6-ed4fb470f255",
      "name": "Periksa Pesan"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Selamat datang di Asisten SOP Systia! Anda bisa bertanya menggunakan menu di bawah ini.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Reimbursement💰",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Prosedur Cuti🌴",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Aturan Lembur⏰",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Klaim Asuransi Kesehatan🏥",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Permintaan Alat Kerja Baru💻",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f050b0b9-7c87-493a-86c2-cf148c2941fd",
      "name": "True Output",
      "webhookId": "d88a8cc3-1532-4778-bf82-f81f5de3e8b5",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id}}",
        "text": "Untuk memulai percakapan, harap ketik /start",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "4a57c796-9f27-447c-97e0-c935914be41c",
      "name": "False Output",
      "webhookId": "f64c788c-c5a4-42c1-a28e-f429419d2149",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfb3155a-b70e-4ced-b226-c92faeaa59c6",
              "name": "reimbursement",
              "value": "=Karyawan harus mengisi formulir, melampirkan bukti bayar asli, dan menyerahkannya ke manajer. Pembayaran akan diproses dalam 14 hari kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        416
      ],
      "id": "46a4253a-7104-4ae9-9ea1-3172f3204fa2",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b678314-02db-46ff-aef5-127317f48199",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        416
      ],
      "id": "799e870d-5462-47a9-adf3-ea91201f0b3d",
      "name": "true reimbursement"
    },
    {
      "parameters": {
        "chatId": "=1564368734",
        "text": "={{ $json.reimbursement }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        400
      ],
      "id": "ed298700-2aca-4722-bd4c-5fb7f932799b",
      "name": "Kirim Hasil ke User (reimbursement)",
      "webhookId": "592c3bfb-da09-4df0-b8b7-9ff25521c048",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1e02cf8-2f68-465d-8654-91ee900cea5a",
              "name": "cuti",
              "value": "Karyawan harus mengajukan cuti melalui portal HRD setidaknya 2 minggu sebelum tanggal cuti.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        704
      ],
      "id": "1ba7a381-131e-4ec8-9597-c5970db02706",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e93eee8-6a61-41c9-8eeb-a753598cfffb",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        704
      ],
      "id": "f37566bb-0476-4b67-ba7c-360089c793a9",
      "name": "true cuti"
    },
    {
      "parameters": {
        "chatId": "=1564368734",
        "text": "={{ $json.cuti }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        688
      ],
      "id": "19f9b646-1f5d-4ba1-ba13-300490668dcb",
      "name": "Kirim Hasil ke User (cuti)",
      "webhookId": "46b6e3be-4c8b-42d1-a950-1596456f3cb0",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc24826e-c658-4591-9252-ad1dbb0bf083",
              "name": "lembur",
              "value": "Lembur harus mendapat persetujuan atasan terlebih dahulu. Perhitungan lembur mengikuti ketentuan UU Ketenagakerjaan dan dibayarkan pada periode gaji berikutnya.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        896
      ],
      "id": "91a255ae-002e-4858-8e36-36d46df5dbbe",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "68b95058-e972-453b-8217-3ae0415c4c8c",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        896
      ],
      "id": "cfaeebb2-6a9e-43b7-9e07-d8d6fe837d33",
      "name": "true lembur"
    },
    {
      "parameters": {
        "chatId": "=1564368734",
        "text": "={{ $json.lembur }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        880
      ],
      "id": "524d5af9-6ccd-45e6-a779-3eafa42511b6",
      "name": "Kirin Hasil ke User (lembur)",
      "webhookId": "63ae109a-a97f-4896-9bf9-4972237ec5b1",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4587fd1-973f-4e44-8457-39c8ae71d7f9",
              "name": "asuransi",
              "value": "Karyawan wajib membawa kartu asuransi, mengisi formulir klaim, dan melampirkan kwitansi serta diagnosa dari dokter.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        1152
      ],
      "id": "885c2083-df67-4886-8f45-837217b51aaf",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9499e39-c5c4-46ca-8c52-55c2549af6d9",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        1152
      ],
      "id": "17ac035f-ef2a-462c-b9f8-21c3907b1ac9",
      "name": "true asuransi"
    },
    {
      "parameters": {
        "chatId": "1564368734",
        "text": "={{ $json.asuransi }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        1136
      ],
      "id": "047599bd-9801-4054-a690-dba0ec502d62",
      "name": "Kirim Hasil ke User (asuransi)",
      "webhookId": "49927c69-e7c3-4660-9b60-449ae6095406",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfbab81-e9e5-4a44-aadd-9266351618f8",
              "name": "alat_kerja",
              "value": "Karyawan mengajukan permintaan melalui sistem inventaris, menunggu persetujuan supervisor, dan bagian GA akan memproses pembelian.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1376
      ],
      "id": "96507545-732e-4d99-bc55-c1c344889e49",
      "name": "Alat Kerja"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a28cb244-f86e-4866-ab6f-dd43833edc67",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        1376
      ],
      "id": "aabf8c62-6cd4-4a70-8a37-c713d5710981",
      "name": "true alat_kerja"
    },
    {
      "parameters": {
        "chatId": "=1564368734",
        "text": "={{ $json.alat_kerja }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        1360
      ],
      "id": "cc8396d6-8503-4f18-91ef-a0dd401e732e",
      "name": "Kirim Hasil ke User (alat kerja)",
      "webhookId": "24c9a7b3-6c6e-41dc-87cc-47fb220dc2d6",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query",
          "inline_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -624,
        112
      ],
      "id": "8dfe9e46-93cc-4e25-96f0-8aaf3b9d1f6a",
      "name": "Telegram Trigger",
      "webhookId": "53335c48-de1d-4200-8be2-8041077fe1a0",
      "credentials": {
        "telegramApi": {
          "id": "g18uN5UdGv6IWagT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Periksa Pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Periksa Pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "true reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true reimbursement": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (reimbursement)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "true cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true cuti": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (cuti)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "true lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true lembur": {
      "main": [
        [
          {
            "node": "Kirin Hasil ke User (lembur)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "true asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true asuransi": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (asuransi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat Kerja": {
      "main": [
        [
          {
            "node": "true alat_kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true alat_kerja": {
      "main": [
        [
          {
            "node": "Kirim Hasil ke User (alat kerja)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4f1b7d37-a339-4f9f-8d46-2e0f3ccb8eb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8cc0eeade57669f0b770595d75740d782dc713341b8717109d9eab32ed5f8f6b"
  },
  "id": "YS8fRcqdBQdZMNjL",
  "tags": []
}